{{!-- partials/navbar.handlebars --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-calendar-check me-2"></i>Meeting Minutes
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link {{#if (eq active 'dashboard')}}active{{/if}}" href="/">
            <i class="fas fa-tachometer-alt me-1"></i>Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq active 'meetings')}}active{{/if}}" href="/meetings">{{!xsưdcdưc}}
            <i class="fas fa-calendar-alt me-1"></i>Meetings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq active 'tasks')}}active{{/if}}" href="/tasks">
            <i class="fas fa-tasks me-1"></i>Tasks
          </a>
        </li>
        {{/if}}
      </ul>
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle me-1"></i>{{user.name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/users/profile">
                <i class="fas fa-user-cog me-2"></i>Profile
              </a>
            </li>
            {{#if (eq user.role 'PROJECT_MANAGER')}}
            <li>
              <a class="dropdown-item" href="/users">
                <i class="fas fa-users-cog me-2"></i>Manage Users
              </a>
            </li>
            {{/if}}
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="/auth/logout">
                <i class="fas fa-sign-out-alt me-2"></i>Logout
              </a>
            </li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link {{#if (eq active 'login')}}active{{/if}}" href="/auth/login">
            <i class="fas fa-sign-in-alt me-1"></i>Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq active 'register')}}active{{/if}}" href="/auth/register">
            <i class="fas fa-user-plus me-1"></i>Register
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav> 