<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Node Backend MVC</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/meeting-tasks">Phân tích cuộc họp</a></li>
        <li><a href="/tasks">Danh sách công việc</a></li>
        <li><a href="/users">Quản lý User</a></li>
        <!-- Tùy ý -->
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>© 2025 CXWUD</p>
  </footer>
</body>
</html>
